body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #006494;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: #F0EBD8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #007bff;
    font-size: large;
}
p{
    /* color: #748CAB; */
    color: #748CAB;
    font-size: medium;
    font-weight: 300;
}
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #0D47A1;

}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff  ;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #0D47A1;
    color: #F0EBD8;
}
a {
    text-decoration: none;
  }
a:link {
    color: #0056b3;
  }

  /* visited link */
  a:visited {
    color: #003554;
  }
  
  /* mouse over link */
  a:hover {
    color: #007bff;
  }
  
  /* selected link */
  a:active {
    color: #7B2CBF;
  }